# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm
.idea

# Temporary files
*.bak
*.lock

# Documents
*.mxd
*.docx

# Data folders
/cdl
/cimis/*/
/daymet
/dem/tiles
/dem/p*r*/
/fields
/gridmet
/landfire
/landsat/*/
/nlcd
/nldas/*/
/refet
/soils
/ssurgo
/statsgo

# Projects
/bear_river_basin
/central_valley
/malheur_lake_basin
/western_nevada
